<div class="upload-container">
    <div class="header-container">
        <h2 class="section-title">Upload a New Knitting Pattern</h2>
        <a routerLink="/patterns" class="button">Back to List</a>
    </div>
    <div class="form-group">
        <label for="title">Pattern Title:</label>
        <input type="text" id="title" [(ngModel)]="patternTitle" placeholder="Enter pattern title" />
    </div>
    <div class="form-group">
        <label for="file">Select PDF:</label>
        <input type="file" id="file" (change)="onFileSelected($event)" accept=".pdf" />
    </div>
    <button class="btn-upload" type="button" [disabled]="!patternTitle || !selectedFile" (click)="onUpload()">
        Upload Pattern
    </button>
</div>